resource "github_team_repository" "${TERRAFORM_RESOURCE_NAME}" {
  team_id    = github_team.${TEAM_RESOURCE}.id
  repository = "${TEAM_REPOSITORY_REPOSITORY}"
  permission = "${TEAM_REPOSITORY_PERMISSION}"
}
